body{
    background-color: rgb(45, 45, 45);
}
.navbar-nav{
    text-align: right;
}

.navbar-brand{
    border: 2px solid blue;
    padding: 10px;
}
#profile span{
    color: blue;
}
h1{
    color: white;
}
#profile p{
    color: gainsboro;
}
#profile{
    display: flex;
    align-items: center;
    text-align: left;
}
h3{
    color: yellowgreen;
}
#profile1 p,#profile1 h1{
    color: white;
}
#profile,#profile1 {
    padding:25px;
}

#skills div{
    padding: 25px;
}

#about-me{
    background-color: gray;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

#skills{
    display: flex;
}

#portfolio{
    padding: 25px;
    background-color: grey;
}

#portfolio h4{
    color: white;
}
#portfolio p{
    color: grey;
}
#port1{
    background-color: grey;
}
.port{
    background-color: #212529;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 25px;
}




