body{
    background-color: rgb(45, 45, 45);
}
body div{
    padding: 10px;
}
.navbar-nav{
    text-align: right;
}

.navbar-brand{
    border: 2px solid blue;
    padding: 10px;
}
.mycontainer h3,.mycontainer h1{
    margin-left: 5vw;
}
#profile span{
    color: blue;
}
h1{
    color: white;
}
#profile p{
    color: gainsboro;
}
#profile{
    display: flex;
    align-items: center;
    text-align: left;
}
h3{
    color: yellowgreen;
}
#profile1 p,#profile1 h1{
    color: white;
}
#profile,#profile1 {
    padding:25px;
}

#skills div{
    padding: 25px;
}

#about-me{
    background-color: gray;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.img3{
    padding: 5px;
}

#skills{
    display: flex;
}

#portfolio{
    padding: 25px;
    margin-left: 5vw;
}

#portfolio h4{
    color: white;
}
#portfolio p{
    color: grey;
}
#port1{
    background-color: grey;
}
.port{
    background-color: #212529;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 25px;
}
#p-1{
    background-color: grey;
}

.skills h2{
    color: greenyellow;
}
.skills p{
    color: grey;
    
}
.sk1{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
.sk1 img{
    width: 100px;
    height: 100px;
}
.skills{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
.card{
    background-color: #212529;
}
.card h2{
    color: white;
}
.card p{
    color: gray;
}
.card a{
    color: yellowgreen;
}
#p-3{
    background-color: grey;
}
.card-body{
    width: 250px;text-align: left;
}
footer{
    padding: 10px;
    background-color: rgb(21, 25, 28);
}
footer p{
    color: grey;
}

.Testimonial{
    display: flex;
    align-items: center;
}
.test1{
    position: relative;
}
.test2{
    color: white;
    background-color: gray;
    width: 300px;
    margin: auto;
}
.Project{
    margin-left: 5VW;
}
.Project1{
    margin:auto;    
}


